@import url("../style.css");

/* Button Style */
.bs_button {
  border-radius: 5px;
  background-color: var(--main-primary);
  border: 1px solid var(--main-primary);
  color: var(--primary-10);
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  position: relative;
  font-family: Inter;
}

.bs_button:hover {
  background-color: var(--hover-primary);
  border: 1px solid var(--hover-primary);
}

.bs_button:focus {
  outline: 3px solid var(--focused-primary);
}

.bs_button:active {
  background-color: var(--pressed-primary);
  border: 1px solid var(--pressed-primary);
  transition: all 0.1s ease-in-out;
}

.bs_button:disabled {
  background-color: var(--neutral-20) !important;
  border: 1px solid var(--neutral-20) !important;
  color: var(--neutral-60) !important;
  cursor: not-allowed;
}

/* Icon Style */
.bs_button--left_icon {
  margin-right: 8px;
}

.bs_button--right_icon {
  margin-left: 8px;
}

.bs_button--spinner {
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  animation-duration: 1s;
  animation-name: spinnerAnimation;
  transition: all linear;
  position: absolute;
  left: 50%;
}

.bs_button--loading div {
  visibility: hidden;
}

.bs_button--loading .bs_button--spinner_container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.loader {
  border: 3px solid white;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* Size Style */
.bs_button--size_l {
  padding: 8px 16px;
  font-size: 16px;
}
.bs_button--size_l .loader {
  width: 16px;
  height: 16px;
}

.bs_button--size_m {
  padding: 6px 16px;
  font-size: 14px;
}
.bs_button--size_m .loader {
  width: 14px;
  height: 14px;
}

.bs_button--size_s {
  padding: 4px 10px;
  font-size: 12px;
}
.bs_button--size_s .loader {
  width: 12px;
  height: 12px;
}

/* Variant Style */
.bs_button--variant_primary {
  background-color: var(--main-primary);
  border: 1px solid var(--main-primary);
  color: var(--primary-10);
}
.bs_button--variant_primary:hover {
  background-color: var(--hover-primary);
  border: 1px solid var(--hover-primary);
}
.bs_button--variant_primary:focus {
  outline: 3px solid var(--focused-primary);
}
.bs_button--variant_primary:active {
  background-color: var(--pressed-primary);
  border: 1px solid var(--pressed-primary);
  transition: all 0.1s ease-in-out;
}

.bs_button--variant_secondary {
  background-color: var(--surface-primary);
  border: 1px solid var(--surface-primary);
  color: var(--main-primary);
}
.bs_button--variant_secondary .loader {
  border: 3px solid var(--main-primary);
}
.bs_button--variant_secondary:hover {
  background-color: var(--primary-40);
  border: 1px solid var(--primary-40);
}
.bs_button--variant_secondary:focus {
  border: 1px solid var(--main-primary);
  outline: 3px solid var(--focused-primary);
}
.bs_button--variant_secondary:active {
  background-color: var(--primary-50);
  border: 1px solid var(--primary-50);
  transition: all 0.1s ease-in-out;
}

.bs_button--variant_outline {
  background-color: var(--neutral-10);
  border: 1px solid var(--neutral-40);
  color: var(--neutral-80);
}
.bs_button--variant_outline .loader {
  border: 3px solid var(--main-primary);
}
.bs_button--variant_outline:hover {
  background-color: var(--neutral-20);
  border: 1px solid var(--neutral-40);
}
.bs_button--variant_outline:focus {
  border: 1px solid var(--main-primary);
  outline: 3px solid var(--focused-primary);
}
.bs_button--variant_outline:active {
  background-color: var(--neutral-30);
  border: 1px solid var(--neutral-40);
  transition: all 0.1s ease-in-out;
}

.bs_button--variant_transparent1 {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--main-primary);
}
.bs_button--variant_transparent1 .loader {
  border: 3px solid var(--main-primary);
}
.bs_button--variant_transparent1:hover {
  background-color: var(--surface-primary);
  border: 1px solid var(--surface-primary);
}
.bs_button--variant_transparent1:focus {
  border: 1px solid var(--main-primary);
  outline: 3px solid var(--focused-primary);
}
.bs_button--variant_transparent1:active {
  background-color: var(--primary-30);
  border: 1px solid var(--primary-30);
  transition: all 0.1s ease-in-out;
}

.bs_button--variant_transparent2 {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--neutral-80);
}
.bs_button--variant_transparent2 .loader {
  border: 3px solid var(--main-primary);
}
.bs_button--variant_transparent2:hover {
  background-color: var(--neutral-20);
  border: 1px solid var(--neutral-20);
}
.bs_button--variant_transparent2:focus {
  border: 1px solid var(--main-primary);
  outline: 3px solid var(--focused-primary);
}
.bs_button--variant_transparent2:active {
  background-color: var(--neutral-30);
  border: 1px solid var(--neutral-30);
  transition: all 0.1s ease-in-out;
}

/* Animation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
