@import url("../../style.css");

/* Input Style */
.bs_input {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bs_input input {
  background: var(--neutral-10);
  border-radius: 5px;
  border: 1px solid var(--neutral-40);
  color: var(--neutral-100);
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.bs_input input::placeholder {
  color: var(--neutral-60);
}
.bs_input input:hover {
  border: 1px solid var(--hover-primary);
}
.bs_input input:focus {
  border: 1px solid var(--hover-primary);
  outline: 3px solid var(--focused-primary);
}
.bs_input input:disabled {
  background: var(--neutral-30) !important;
  cursor: not-allowed;
  border: 1px solid var(--neutral-40) !important;
}

/* Input Danger Style */
.bs_input--danger input {
  border: 1px solid var(--main-danger);
}
.bs_input--danger input:hover {
  border: 1px solid var(--hover-danger);
}
.bs_input--danger input:focus {
  border: 1px solid var(--main-danger);
  outline: 3px solid var(--focused-danger);
}

/* Size Style */
.bs_input--size_l {
  height: 40px;
  width: 240px;
}
.bs_input--size_l input {
  padding: 10px 12px;
  font-size: 14px;
}

.bs_input--size_m {
  height: 32px;
  width: 240px;
}
.bs_input--size_m input {
  padding: 6px 12px;
  font-size: 14px;
}

.bs_input--size_s {
  height: 24px;
  width: 240px;
}
.bs_input--size_s input {
  padding: 4px 10px;
  font-size: 12px;
}

.bs_input > div {
  position: absolute;
}

/* Icon Style */
.bs_input--left_icon {
  padding-right: 8px;
  left: 0;
}
.bs_input--right_icon {
  padding-left: 8px;
  right: 0;
}
