@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* Neutral Color */
  --neutral-10: #ffffff;
  --neutral-20: #f6f6f6;
  --neutral-30: #efefef;
  --neutral-40: #e4e4e4;
  --neutral-50: #c9c9c9;
  --neutral-60: #aaaaaa;
  --neutral-70: #858585;
  --neutral-80: #737373;
  --neutral-90: #565656;
  --neutral-100: #1e1e1e;

  /* Primary Color */
  --primary-10: #ffffff;
  --primary-20: #f5f8fd;
  --primary-30: #eef2fc;
  --primary-40: #e1e9f9;
  --primary-50: #c3d3f3;
  --primary-60: #a0baed;
  --primary-70: #789de5;
  --primary-80: #648ee1;
  --primary-90: #4376db;
  --primary-100: #0549cf;
  --main-primary: #0549cf;
  --surface-primary: #f0f5ff;
  --border-primary: #acc2ef;
  --hover-primary: #043dac;
  --pressed-primary: #022567;
  --focused-primary: #cddbf5;

  /* Secondary Color */
  --secondary-10: #ffffff;
  --secondary-20: #fffbf6;
  --secondary-30: #fff8ef;
  --secondary-40: #fff2e4;
  --secondary-50: #ffe5c9;
  --secondary-60: #ffd6aa;
  --secondary-70: #ffc585;
  --secondary-80: #ffbc73;
  --secondary-90: #ffae56;
  --secondary-100: #ff931e;
  --main-secondary: #ff931e;
  --surface-secondary: #fff8f0;
  --border-secondary: #ffdbb4;
  --hover-secondary: #d57b19;
  --pressed-secondary: #80490f;
  --focused-secondary: #ffe9d2;

  /* State Color */
  --main-success: #03a08b;
  --surface-success: #f0fffd;
  --border-success: #abdfd8;
  --hover-success: #028574;
  --pressed-success: #015045;
  --focused-success: #cdece8;

  --main-danger: #f54a45;
  --surface-danger: #fff0f0;
  --border-danger: #fcc3c1;
  --hover-danger: #cc3e39;
  --pressed-danger: #7b2522;
  --focused-danger: #fddbda;

  --main-warning: #fab000;
  --surface-warning: #fefaef;
  --border-warning: #fde5aa;
  --hover-warning: #d09300;
  --pressed-warning: #7d5800;
  --focused-warning: #feefcc;

  /* Combination Color */
  --main-combination_1: #5f32bc;
  --surface-combination_1: #efeaf9;
  --border-combination_1: #cabbe9;
  --hover-combination_1: #4f2a9d;
  --pressed-combination_1: #30195e;
  --focused-combination_1: #dfd6f2;

  --main-combination_2: #ffd445;
  --surface-combination_2: #fffbec;
  --border-combination_2: #fff1c1;
  --hover-combination_2: #d5b139;
  --pressed-combination_2: #806a22;
  --focused-combination_2: #fff6da;

  --main-combination_3: #03a08b;
  --surface-combination_3: #e6f6f4;
  --border-combination_3: #abdfd8;
  --hover-combination_3: #028574;
  --pressed-combination_3: #015045;
  --focused-combination_3: #cdece8;

  --main-combination_4: #ff483d;
  --surface-combination_4: #ffeceb;
  --border-combination_4: #ffc2be;
  --hover-combination_4: #d53c33;
  --pressed-combination_4: #80241f;
  --focused-combination_4: #ffdad8;

  --transition: all 0.25s ease-in-out;

  --disable-selection: {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  };
}

body {
  font-family: Inter;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  padding: 0px 1px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(30, 30, 30, 0.12);
  border-radius: 3px;
}

/* Utilities Class */
.bs_disable_selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
